# This workflow will use pdm to solve an environment for the dependencies specified in pyproject.toml. 
# The frozen env will be available as a .lock file for use with pdm and a requirements.txt file for pip.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Pin dependencies

on:
  push:
    branches:
      - 'main'
    paths:
      - 'pyproject.toml'
      - '**/pin_dependencies.yml'
      
  workflow_dispatch:
  
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
      
jobs:
  package:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]
    permissions: write-all

    steps:
    - uses: actions/checkout@v4
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
        # use PAT, or push comes from `github-actions` bot, which can't trigger
        # other workflows   
    
    - uses: astral-sh/setup-uv@v5.4.1
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        uv lock --upgrade        
        
    - name: Add requirements.txt
      run: |
        uv export --format requirements.txt --output-file requirements.txt
        
    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        default_author: github_actions
        message: "Pin dependencies [skip actions]"
